/* Deleting spaces and add fonts*/

* {
    padding: 0;
    margin: 0;
    font-family: roboto, 'sans-serif';
}

/* Header Part */

header {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.link-left,
.link-right a {
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.link-left {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul li a {
    text-decoration: none;
}

/* Header section part */

.header-section-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.header-section {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 50px 0 50px 0;
    gap: 30px;
    flex-wrap: wrap;
}

.header-section-right img {
    height: auto;
    width: 100%;
}

.header-section-left,
.header-section-right {
    flex-basis: 550px;
}
.header-section .header-section-left button {
    padding: 8px 30px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 7px;
    margin-top: 5px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

.header-section .header-section-left p {
    font-size: 18px;
}

/* Main Part */

.main-info {
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid rgb(174, 174, 255);
    object-position: 100% 0;
}

.item {
    display: flex;
    flex-basis: 150px;
    flex-wrap: wrap;
    gap: 5px;
}

main h1 {
    padding: 40px 0 40px 0;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    width: 100%;
}

.item p {
    text-align: center;
    font-size: 18px;
}

/* Article Part */

article {
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
    background-color: #e5e7eb;
}

.article {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 900px;
    color: #1F2937;
    gap: 7px;
    justify-content: flex-end;
}
.article p {
    font-size: 26px;
    font-weight: 800;
}

/* Section action part */

.section-action {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 0 100px 0;
}

.action {
    display: flex;
    border-radius: 10px;
    flex-basis: 900px;
    background-color: #3882f6;
    padding: 60px 110px;
    color: #f9faf8;
    align-content: center;
    justify-content: space-between;
}

.action .left button {
    border: 2px solid #f9faf8;
    border-radius: 7px;
    padding: 6px 30px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 800;
    font-size: 19px;
}

/* Footer Part */

footer {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color: #f9faf8;
}
